<form [formGroup]="form" (ngSubmit)="changePassword()">
  <div *ngIf="showSuccess" class="alert alert-success">Password has been successfully changed</div>
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input formControlName="oldPassword" id="oldPassword" type="text" class="form-control">
    <div *ngIf="oldPassword.pending" class="alert alert-info">
      Checking password match...
    </div>
    <div *ngIf="isOldPasswordInvalid()" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">
        Old password is required
      </div>
      <div *ngIf="oldPassword.errors.oldPasswordsDoNotMatch">
        Old password does not match
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input formControlName="newPassword" id="newPassword" type="text" class="form-control">
    <div *ngIf="isNewPasswordInvalid()" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">
        New password is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmation">Confirm Password</label>
    <input formControlName="confirmation" id="confirmation" type="text" class="form-control">
    <div *ngIf="isConfirmationInvalid()" class="alert alert-danger">
      <div *ngIf="confirmation.errors.required">
        Password confirmation is required
      </div>
      <div *ngIf="confirmation.errors.confirmationIncorrect">
        Passwords don't match
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="form.invalid">Change Password</button>
</form>
